body{
  background: #75B975;
}
.box{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 10% auto;
  background: none;
}
.head{
  position: absolute;
  width: 50%;
  height: 48%;
  border-radius: 50%;
  top: 20%;
  left: 20%;
}
.copy-head{
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  z-index: 2;
}
.left-ear{
  position: absolute;
  width: 30%;
  height: 40%;
  border-radius: 50%;
  left: -5px;
  background-color: black;
}
.right-ear{
  position: absolute;
  width: 30%;
  height: 40%;
  background-color: black;
  border-radius: 50%;
  right: -5px;
}
.left-eye{
  position: absolute;
  width: 20%;
  height: 35%;
  background: black;
  border-radius: 50%;
  top: 30%;
  left: 22%;
  z-index: 3;
  transform: rotate(25deg);
}
.right-eye{
  position: absolute;
  width: 20%;
  height: 35%;
  background: black;
  border-radius: 50%;
  z-index: 3;
  top: 30%;
  right: 22%;
  transform: rotate(150deg);
}
.pupil{
  position: absolute;
  width: 25%;
  height: 30%;
  background: white;
  border-radius: 50%;
  z-index: 4;
  top: 35%;
  left: 50%;
}
.nose{
  position: absolute;
  width: 22%;
  height: 16%;
  border-radius: 50px;
  background: black;
  top: 70%;
  left: 38%;
  z-index: 4
}
